@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap');

/* ===============================================================================
   Reset css
   ===============================================================================
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}


/* ===============================================================================
   Default Style
   ===============================================================================
*/

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    transition: .3s ease;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}

.container {
    width: 1140px;
    padding: 0 30px;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}

a:hover,
a.active {
    color: #ff2727;
}

.dflex {
    display: flex;
    align-items: center;
}

.dflexs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* ===============================================================================
   Header
   ===============================================================================
*/

header {
    width: 100%;
    height: 85px;
}

header a {
    color: white;
}

.header__wrap {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000;
    padding: 15px 0;
    z-index: 999;
}


/* ===============================================================================
   header menu 
   ===============================================================================
*/


/* ---------------------------menu logo---------------- */

.menu__logo img {
    width: 200px;
    height: 50px;
}


/* ----------------------------menu list----------------- */

header .menu__list .menu__item.main-submenu {
    position: relative;
}

.submenu {
    position: absolute;
    white-space: nowrap;
    top: calc(100% + 25px);
    /* + padding menu__link */
    background: #fff;
    display: block;
    padding: 0px 50px 0px 20px;
    max-height: 0;
    /* Transform Effect */
    overflow: hidden;
    transition: .5s ease;
}

header .menu__item {
    margin: 10px;
    padding: 10px;
}

header .menu__item:hover .submenu {
    padding: 10px 50px 10px 20px;
    max-height: 50vh;
}

.submenu .submenu__link {
    display: block;
    color: #000;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    transition: .3s ease;
}

.submenu .submenu__link:hover {
    color: #ff2727;
}


/* ----------------------------Megamenu --------------------*/

.megamenu {
    position: absolute;
    top: calc(100% + 0.1px);
    /* + padding Header */
    left: 0;
    width: 100%;
    background: #fff;
    opacity: 0.9;
    filter: alpha(opacity=90);
    padding: 0px;
    transition: .5s ease;
    overflow: hidden;
    max-height: 0;
    padding: 0px 300px;
}

.megamenu__item {
    text-align: center;
    margin: 0 auto;
}

header .menu__item:hover .megamenu {
    max-height: 100vh;
    transition: .5s ease;
    padding: 20px 300px;
}

.megamenu__item a {
    color: black;
}

.megamenu__item a p {
    font-size: 20px;
    color: #ff2727;
    margin-right: 15px;
}

.megamenu__item a:hover {
    color: red;
}


/* -------------------menu icon -----------------------*/

.header__cart {
    color: #ff2727;
}

.header__cart i {
    margin-right: 10px;
}


/* ===============================================================================
   footer 
   ===============================================================================
*/

@media only screen and (max-width: 1000px) {
    body {
        width: 1000px;
    }
}

#cen {
    width: 100%;
    float: left;
    height: 40px;
    line-height: 40px;
}

#cen ul {
    margin: 0px;
    padding: 0px;
    margin-right: 15%;
}

#cen ul li {
    float: left;
    text-decoration: none;
}

#cen ul li a {}

#QC {
    width: 100%;
    height: 38px;
    background: #333F48;
    line-height: 38px;
    margin-bottom: 40px;
}

#left {
    width: 60%;
    height: 830px;
    float: left;
}

#right {
    width: 40%;
    height: 830px;
    float: left;
}

#left .product-small-img img {
    width: 100px;
    height: 130.5px;
    margin: 10px 0;
    cursor: pointer;
    display: block;
    margin-left: 40px;
    margin-right: 40px;
}

#left .product-small-img img:hover {
    opacity: 1;
}

#left .product-small-img {
    float: left;
}

#left .product {
    position: absolute;
}

#left .img-container img {
    width: 575.34px;
    height: 725.11px;
}

#left .img-container {
    float: right;
    padding: 10px;
}

.color span {
    height: 30px;
    width: 30px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
}

.size span {
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background: #fff;
    margin: 0 5px;
    transition: 0.5s;
    border: 2px solid #333F48;
    display: inline-block;
    cursor: pointer;
}

.size span:hover {
    background: #9bdc28
}

#SL {
    width: 100%;
    height: 60px;
}

#trai {
    width: 10%;
    height: 30px;
    margin: 10px;
}

#phai {
    width: 90%;
    height: 30px;
    float: left;
}

input {
    width: 46px;
    height: 24px;
}

.button1 {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button2 {
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#LQ {
    width: 85%;
    float: left;
    height: 400px;
    clear: both;
    text-align: center;
}

#LQ ul {
    margin: 0px;
    padding: 0px;
}

#LQ ul li {
    list-style: none;
    display: inline-block;
}

#LQ ul li img {
    text-decoration: none;
    width: 213.75px;
    height: 242.48px;
    padding: 0px 2px;
}

.footer-top {
    border-top: 1px solid black;
    width: 100%;
    clear: both;
}

.ft-list {
    display: flex;
}

.ft-list .sv {
    display: flex;
    padding: 25px 25px;
}

.footer-body {
    width: 100%;
    background-color: black;
}

.ft-banner {
    display: flex;
}

.ft-banner .form-Email {
    line-height: 20vh;
    padding-left: 40px;
}

.list-info {
    display: flex;
}

.info__items {
    padding: 25px 25px;
    margin: 0 auto;
}


/* ===============================================================================
   Moblie
   ===============================================================================
*/