@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap');

/* ===============================================================================
   Reset css
   ===============================================================================
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}


/* ===============================================================================
   Default Style
   ===============================================================================
*/

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    transition: .3s ease;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}

.container {
    width: 1140px;
    padding: 0 30px;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}

a:hover,
a.active {
    color: #ff2727;
}

.dflex {
    display: flex;
    align-items: center;
}

.dflexs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* ===============================================================================
   Header
   ===============================================================================
*/

header {
    width: 100%;
    height: 85px;
}

header a {
    color: white;
}

.header__wrap {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000;
    padding: 15px 0;
    z-index: 999;
}


/* ===============================================================================
   header menu 
   ===============================================================================
*/


/* ---------------------------menu logo---------------- */

.menu__logo img {
    width: 200px;
    height: 50px;
}


/* ----------------------------menu list----------------- */

header .menu__list .menu__item.main-submenu {
    position: relative;
}

.submenu {
    position: absolute;
    white-space: nowrap;
    top: calc(100% + 25px);
    /* + padding menu__link */
    background: #fff;
    display: block;
    padding: 0px 50px 0px 20px;
    max-height: 0;
    /* Transform Effect */
    overflow: hidden;
    transition: .5s ease;
}

header .menu__item {
    margin: 10px;
    padding: 10px;
}

header .menu__item:hover .submenu {
    padding: 10px 50px 10px 20px;
    max-height: 50vh;
}

.submenu .submenu__link {
    display: block;
    color: #000;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    transition: .3s ease;
}

.submenu .submenu__link:hover {
    color: #ff2727;
}


/* ----------------------------Megamenu --------------------*/

.megamenu {
    position: absolute;
    top: calc(100% + 0.1px);
    /* + padding Header */
    left: 0;
    width: 100%;
    background: #fff;
    opacity: 0.9;
    filter: alpha(opacity=90);
    padding: 0px;
    transition: .5s ease;
    overflow: hidden;
    max-height: 0;
    padding: 0px 300px;
}

.megamenu__item {
    text-align: center;
    margin: 0 auto;
}

header .menu__item:hover .megamenu {
    max-height: 100vh;
    transition: .5s ease;
    padding: 20px 300px;
}

.megamenu__item a {
    color: black;
}

.megamenu__item a p {
    font-size: 20px;
    color: #ff2727;
    margin-right: 15px;
}

.megamenu__item a:hover {
    color: red;
}


/* -------------------menu icon -----------------------*/

.header__cart {
    color: #ff2727;
}

.header__cart i {
    margin-right: 10px;
}


/* -------------------banner-------------------------- */

.banner {
    height: 85vh;
    background: url('../images/banner3.jpg');
    background-size: cover;
    background-position: center;
}

.click__now {
    text-align: center;
    padding-top: 77vh;
}

.click__now a {
    border: 1px solid black;
    font-size: 30px;
}

.click__now a i {
    font-size: 30px;
}

.click__now a:hover {
    background-color: #000;
    color: white;
}

.click__now a:hover i {
    transform: rotate(90deg);
}


/* ===============================================================================
   Content 
   ===============================================================================
*/

.content {
    margin-top: 50px;
    width: 100%;
}


/*  review */

.list-new {
    display: flex;
    flex-wrap: wrap;
}

.list-new .box-item {
    max-width: calc(100%/3);
    flex-basis: calc(100%/3);
    padding: 0 30px;
}

.list-new .box-item .item__text {
    text-align: center;
}

.box-item .item__img-new {
    width: 100%;
    overflow: hidden;
}

.box-item .item__img-new img {
    width: 100%;
    height: auto;
    transition: transform .5s ease;
}

.box-item .item__img-new img:hover {
    transform: scale(1.05);
}


/* Brand list */

.famous-brand {
    width: 90%;
    padding: 10px 20px;
    margin: 0 auto;
}

.brand-name {
    height: 90vh;
    width: 100%;
}

.brand-name .mySlides {
    width: 100%;
    height: 100%;
}

.button-click {
    padding-top: 40px;
    text-align: center;
}

.list-brand .button-click p {
    margin: 10px 0;
}

.list-brand .button-click a:hover {
    background-color: #000;
    color: white;
}


/* product hot */

.product-hot {
    width: 100%;
    padding: 10px 20px;
}

.list-product {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
}

.list-product .product__box {
    max-width: calc(100%/5);
    flex-basis: calc(100%/5);
}

.list-product .product__box .product__detail {
    text-align: center;
    font-size: 12px;
}

.list-product .product__box .product__item {
    overflow: hidden;
}

.list-product .product__box .product__item img {
    width: 100%;
    height: auto;
    transition: transform .5s ease;
}

.list-product .product__box .product__item:hover img {
    transform: scale(1.05);
}


/* ===============================================================================
   footer 
   ===============================================================================
*/

.footer-top {
    border-top: 1px solid black;
    width: 100%;
}

.ft-list {
    display: flex;
}

.ft-list .sv {
    display: flex;
    padding: 25px 25px;
}

.footer-body {
    width: 100%;
    background-color: black;
}

.ft-banner {
    display: flex;
}

.ft-banner .form-Email {
    line-height: 20vh;
    padding-left: 40px;
}

.list-info {
    display: flex;
}

.info__items {
    padding: 25px 25px;
    margin: 0 auto;
}


/* ===============================================================================
   Moblie
   ===============================================================================
*/

@media only screen and (max-width: 1000px) {
    body {
        width: 1500px;
    }
}