@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap');

/* ===============================================================================
   Reset css
   ===============================================================================
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}


/* ===============================================================================
   Default Style
   ===============================================================================
*/

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    transition: .3s ease;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}

.container {
    width: 1140px;
    padding: 0 30px;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}

a:hover,
a.active {
    color: #ff2727;
}

.dflex {
    display: flex;
    align-items: center;
}

.dflexs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* ===============================================================================
   Header
   ===============================================================================
*/

header {
    width: 100%;
    height: 85px;
}

header a {
    color: white;
}

.header__wrap {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000;
    padding: 15px 0;
    z-index: 999;
}


/* ===============================================================================
   header menu 
   ===============================================================================
*/


/* ---------------------------menu logo---------------- */

.menu__logo img {
    width: 200px;
    height: 50px;
}


/* ----------------------------menu list----------------- */

header .menu__list .menu__item.main-submenu {
    position: relative;
}

.submenu {
    position: absolute;
    white-space: nowrap;
    top: calc(100% + 25px);
    /* + padding menu__link */
    background: #fff;
    display: block;
    padding: 0px 50px 0px 20px;
    max-height: 0;
    /* Transform Effect */
    overflow: hidden;
    transition: .5s ease;
}

header .menu__item {
    margin: 10px;
    padding: 10px;
}

header .menu__item:hover .submenu {
    padding: 10px 50px 10px 20px;
    max-height: 50vh;
}

.submenu .submenu__link {
    display: block;
    color: #000;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    transition: .3s ease;
}

.submenu .submenu__link:hover {
    color: #ff2727;
}


/* ----------------------------Megamenu --------------------*/

.megamenu {
    position: absolute;
    top: calc(100% + 0.1px);
    /* + padding Header */
    left: 0;
    width: 100%;
    background: #fff;
    opacity: 0.9;
    filter: alpha(opacity=90);
    padding: 0px;
    transition: .5s ease;
    overflow: hidden;
    max-height: 0;
    padding: 0px 300px;
}

.megamenu__item {
    text-align: center;
    margin: 0 auto;
}

header .menu__item:hover .megamenu {
    max-height: 100vh;
    transition: .5s ease;
    padding: 20px 300px;
}

.megamenu__item a {
    color: black;
}

.megamenu__item a p {
    font-size: 20px;
    color: #ff2727;
    margin-right: 15px;
}

.megamenu__item a:hover {
    color: red;
}


/* -------------------menu icon -----------------------*/

.header__cart {
    color: #ff2727;
}

.header__cart i {
    margin-right: 10px;
}


/* -------------------banner-------------------------- */

.banner {
    height: 85vh;
    background: url('../images/banner3.jpg');
    background-size: cover;
    background-position: center;
}

.click__now {
    text-align: center;
    padding-top: 77vh;
}

.click__now a {
    border: 1px solid black;
    font-size: 30px;
}

.click__now a i {
    font-size: 30px;
}

.click__now a:hover {
    background-color: #000;
    color: white;
}

.click__now a:hover i {
    transform: rotate(90deg);
}


/*item*/

article {
    margin-top: -3px;
    width: 100%;
    float: left;
    background-color: white;
}

.menu2 {
    margin-top: 10px;
    width: 960px;
    float: left;
    background-color: white;
}

.menu2 {
    display: inline-block;
    width: 100%;
    list-style: none;
}

.menu2 li a {
    line-height: 192px;
    padding: 0px 25px;
}

#atext {
    width: 100%;
    background-color: teal;
}

#atext #anh li {
    margin-right: 500px;
    font-size: 20px;
}

#atext #cn {
    width: 25%;
    height: 350px;
    float: left;
    margin: 62px;
}

.moi>li>a {
    font-size: 50px;
    margin: 0px;
    padding: 5px 0px 0px 620px;
    text-align: center;
    color: rgb(68, 65, 65);
}

.moi1>li>a {
    font-size: 50px;
    margin: 0px;
    padding: 5px 0px 0px 620px;
    text-align: center;
    color: rgb(68, 65, 65);
}

.moi2>li>a {
    font-size: 50px;
    margin: 0px;
    padding: 5px 0px 0px 410px;
    text-align: center;
    color: rgb(68, 65, 65);
}

.b1 {
    width: 25%;
    float: left;
    height: 320px;
}

.spham {
    box-shadow: 2px 2px 5px gray;
    padding: 20px;
    margin: 5px;
    height: 300px;
}

.imgg {
    overflow: hidden;
}

.spham img {
    margin-left: 80px;
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scae(1.0);
}

.spham img:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

.spham>.tensp {
    text-align: center;
    font-size: 25px;
    color: black;
    margin-top: 30px;
}

.spham>.tensp a:hover {
    color: red;
}

.spham>img {
    max-width: 90%;
}

.spham>.giasp {
    color: red;
    font-weight: bold;
    font-size: larger;
}

.spham>.giasp1 {
    color: red;
    font-weight: bold;
    font-size: 40px;
    margin-top: 24px;
}

.spham>.giasp3 {
    color: red;
    font-weight: bold;
    font-size: larger;
    margin-top: 20px;
}

.spham>.giasp del {
    color: gray;
}

.spham>.giasp1 del {
    color: gray;
}

.spham>.giasp3 del {
    color: gray;
}

.clear {
    clear: both;
}


/* ===============================================================================
   footer 
   ===============================================================================
*/

.footer-top {
    border-top: 1px solid black;
    width: 100%;
}

.ft-list {
    display: flex;
}

.ft-list .sv {
    display: flex;
    padding: 25px 25px;
}

.footer-body {
    width: 100%;
    background-color: black;
}

.ft-banner {
    display: flex;
}

.ft-banner .form-Email {
    line-height: 20vh;
    padding-left: 40px;
}

.list-info {
    display: flex;
}

.info__items {
    padding: 25px 25px;
    margin: 0 auto;
}


/* ===============================================================================
   Moblie
   ===============================================================================
*/

@media only screen and (max-width: 1000px) {
    body {
        width: 1500px;
    }
}