@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap');

/* ===============================================================================
   Reset css
   ===============================================================================
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}


/* ===============================================================================
   Default Style
   ===============================================================================
*/

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    transition: .3s ease;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}

.container {
    width: 1140px;
    padding: 0 30px;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}

a:hover,
a.active {
    color: #ff2727;
}

.dflex {
    display: flex;
    align-items: center;
}

.dflexs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* ===============================================================================
   Header
   ===============================================================================
*/

header {
    width: 100%;
    height: 85px;
}

header a {
    color: white;
}

.header__wrap {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000;
    padding: 15px 0;
    z-index: 999;
}


/* ===============================================================================
   header menu 
   ===============================================================================
*/


/* ---------------------------menu logo---------------- */

.menu__logo img {
    width: 200px;
    height: 50px;
}


/* ----------------------------menu list----------------- */

header .menu__list .menu__item.main-submenu {
    position: relative;
}

.submenu {
    position: absolute;
    white-space: nowrap;
    top: calc(100% + 25px);
    /* + padding menu__link */
    background: #fff;
    display: block;
    padding: 0px 50px 0px 20px;
    max-height: 0;
    /* Transform Effect */
    overflow: hidden;
    transition: .5s ease;
}

header .menu__item {
    margin: 10px;
    padding: 10px;
}

header .menu__item:hover .submenu {
    padding: 10px 50px 10px 20px;
    max-height: 50vh;
}

.submenu .submenu__link {
    display: block;
    color: #000;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    transition: .3s ease;
}

.submenu .submenu__link:hover {
    color: #ff2727;
}


/* ----------------------------Megamenu --------------------*/

.megamenu {
    position: absolute;
    top: calc(100% + 0.1px);
    /* + padding Header */
    left: 0;
    width: 100%;
    background: #fff;
    opacity: 0.9;
    filter: alpha(opacity=90);
    padding: 0px;
    transition: .5s ease;
    overflow: hidden;
    max-height: 0;
    padding: 0px 300px;
}

.megamenu__item {
    text-align: center;
    margin: 0 auto;
}

header .menu__item:hover .megamenu {
    max-height: 100vh;
    transition: .5s ease;
    padding: 20px 300px;
}

.megamenu__item a {
    color: black;
}

.megamenu__item a p {
    font-size: 20px;
    color: #ff2727;
    margin-right: 15px;
}

.megamenu__item a:hover {
    color: red;
}


/* -------------------menu icon -----------------------*/

.header__cart {
    color: #ff2727;
}

.header__cart i {
    margin-right: 10px;
}

.product-list {
    width: 1083px;
    height: auto;
    overflow: hidden;
    margin-bottom: 20px;
}

.product-list>.product-item {
    width: 20%;
    height: auto;
    float: left;
    margin: 3px 0px;
}

.product-list>.product-item:last-child {
    margin-right: 0px;
}

.product-list>.product-item img {
    width: 100%;
    height: 100%;
}

.product-list>.product-item>.product-img {
    width: 215px;
    height: 282px;
}

.product-list>.product-item>.product-info {
    text-align: center;
    margin-top: 15px;
}

.product-info>.product-title {
    line-height: 12px;
}

.product-info>.product-title a {
    text-decoration: none;
    color: #333f48;
}

.product-info>.product-price {
    color: red;
    font-weight: 800;
    line-height: 20px;
    margin: 5px 0px;
}

.product-color {
    width: 215px;
    height: 16px;
    text-align: -webkit-center;
}

.product-color>.color {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0px 5px;
}

.product-color>.color:hover>a {
    border: 1px solid #dddddd;
    width: 14px;
    height: 14px;
    display: inline-block;
}

.hot-sale {
    width: 0px;
    height: 0px;
    border-bottom: 49px solid transparent;
    border-left: 49px solid black;
    position: absolute;
    z-index: 50;
    margin-top: -284px;
}

.hot-sale>span {
    transform: rotate(-43deg);
    color: #fff;
    font-weight: 900;
    position: absolute;
    left: -48px;
    top: 10px;
}

.pages-number {
    width: 1083px;
    height: 16px;
    margin: 39px 0px;
    text-align: right;
}

.pages-number a {
    margin-right: 5px;
    text-decoration: none;
    color: #333f48;
    font-size: 13px;
}


/* ===============================================================================
   footer 
   ===============================================================================
*/

.footer-top {
    border-top: 1px solid black;
    width: 100%;
}

.ft-list {
    display: flex;
}

.ft-list .sv {
    display: flex;
    padding: 25px 25px;
}

.footer-body {
    width: 100%;
    background-color: black;
}

.ft-banner {
    display: flex;
}

.ft-banner .form-Email {
    line-height: 20vh;
    padding-left: 40px;
}

.list-info {
    display: flex;
}

.info__items {
    padding: 25px 25px;
    margin: 0 auto;
}


/* ===============================================================================
   Moblie
   ===============================================================================
*/

@media only screen and (max-width: 1000px) {
    body {
        width: 1500px;
    }
}